@model WebAPI.ViewModels.Catalog.Products.ProductCreateRequest

@{
    ViewData["Title"] = "Tạo mới sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#txt_details'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}

<div class="container-fluid">
    <h1 class="mt-4">Tạo mới người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="User">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="productName" class="control-label"></label>
                        <input asp-for="productName" class="form-control" />
                        <span asp-validation-for="productName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="price" class="control-label"></label>
                        <input asp-for="price" type="number" class="form-control" />
                        <span asp-validation-for="price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="salePrice" class="control-label"></label>
                        <input asp-for="salePrice" type="number" class="form-control" />
                        <span asp-validation-for="salePrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="detail" class="control-label"></label>
                        <textarea id="txt_details" asp-for="detail" rows="35" class="form-control"></textarea>
                        <span asp-validation-for="detail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idBrand" class="control-label"></label>
                        <input asp-for="idBrand" type="number" class="form-control" />
                        <span asp-validation-for="idBrand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idSize" class="control-label"></label>
                        <input asp-for="idSize" class="form-control" />
                        <span asp-validation-for="idSize" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idColor" class="control-label"></label>
                        <input asp-for="idColor" class="form-control" />
                        <span asp-validation-for="idColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="idType" class="control-label"></label>
                        <input asp-for="idType"  class="form-control" />
                        <span asp-validation-for="idType" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="idCategory" class="control-label"></label>
                        <input asp-for="idCategory" type="number" class="form-control" />
                        <span asp-validation-for="idCategory" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="ThumbnailImage" class="control-label"></label>
                        <input asp-for="ThumbnailImage" type="file" class="form-control" />
                        <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>